{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Connexion{% endblock %}

{% block content %}
<div class="container">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <div class="col-lg-6 col-md-6 col-sm-12 text-center mt-4 auth-forms" style="margin:auto;">
            <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
            {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-success">
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
            <label for="inputEmail">Votre e-mail</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputPassword">Votre mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
        
            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <a href="{{ path("app_reset_password") }}">Mot de passe oublié ?</a>
            <br>
            <button class="btn btn-sm btn-primary mt-2 mb-2" type="submit">
                Se connecter
            </button>
        </form>
    </div>
    </div>  
{% endblock %}
